@import '../common/colours.scss';

.adminInputs {
    display: flex;
    flex-direction: column;

    input {
        margin-left: auto;
        margin-right: auto;
    }
}

.input-row {
    display: flex;
}

.plusMinusButton {
    min-width: 40px;
    min-height: 40px;
    border-radius: 20%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    margin: 0.2rem;
    font-size: 16px;
}

.link {
    color: $appgreen;
    text-decoration: underline;
    vertical-align: top;
}

.famTitle {
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    padding: 0.5rem;
}

.famTitle:hover {
    color: orange;
}

.modalBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    width: 80%;
    border: 2px solid orange;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 3rem;
    margin: auto;
}

.modalButton {
    margin: 1rem;
    padding: 0.75rem;
    width: 8rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    border-width: 1px solid orange;
  }
  
  .modalButton:hover {
    background-color: rgba(255, 165, 0, 0.5);
  }

  .createGrid {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 10vw;
      padding: 1em;
  }

  .familyDropDown {
    width: 95%;
    padding: 0.75rem;
    margin: 0.5rem;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    text-align: center;
}

.admin-course-summary {
    margin: 2em;
    text-align: left;

    h2 {
        color: $appgreen;
    }

    .courses {
        font-size: 1.3em;
        .total {
            color: $appgreen;
            font-weight: bold;
        }
    }
}
