body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(2, 43, 2); */
  background: url('../src/resources/forest-background3.webp') repeat-y center fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
