:root {
  --form-control-color: rgba(255, 255, 255, 0.952);
  --vegan-green: yellowgreen;
}

.menu-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80vw;
    margin: auto
}

.menu-header {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 5vh;
}

.courses-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.course-box {
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.course-options {
    font-weight: bold;
    list-style: none;
}

.option {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.food-description {
    font-style: italic;
}

.food-label {
    display: flex;
    align-items: center;
    font-weight: bold;
    }

.vegan {
    color: var(--vegan-green);
    font-weight: lighter;
    font-style: italic;
    margin-left: 1rem;
}

.polski {
    font-weight: lighter;
    font-style: italic;
    margin-left: 1rem;
}

.vegan-switch {
    
}

.polski-switch {
    justify-content: right;
}

.inline {
    display: flex;
}

.course-table {
    width: 100%;
}

.course-row {
    border: 0px solid rgb(255, 255, 255);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 16fr 2fr;
    align-items: center;
    text-align: left;
    margin: 0.25rem;
    border-radius: 3px;
}

.food-name {
    display: flex;
}

.food-img {
    width: 100%;
}

.form-control {
    margin: 1rem;
}

input[type="radio"] {
    appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    font: inherit;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid white;
    border-radius: 20%;
  }

  input[type="radio"]:checked {
     box-shadow: inset 1em 1em var(--form-control-color);
     border: 2px solid white;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.178);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    border-radius: 2px;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--vegan-green);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--vegan-green);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider-polski {
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.178);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-polski:before {
    border-radius: 0px;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-polski {
    background-color: red;
    
  }
  
  input:focus + .slider-polski {
    box-shadow: 0 0 1px var(--form-control-color);
  }
  
  input:checked + .slider-polski:before {
    -webkit-transform: translateY(-17px);
    -ms-transform: translateY(-17px);
    transform: translateY(-9px) translateX(12.41px) scaleX(2.27 ) scaleY(0.63);
  }

  .switches {
    display: flex;
  }

  .right-float {
    margin-left: auto;
    order: 2;
    }

  .choice {
    margin: 1rem;
  }

  .choices {
    font-size: larger;
    text-align: center;
  }

  .textarea {
    background-color: rgba(119, 119, 119, 0.35);
    padding: 0.75rem;
    margin: auto;
    margin-bottom: 2rem;
    width: 100%;
    border-width: 0px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    text-align: left;
    height: 2.75rem;
  }

  .textarea::placeholder {
    color: var(--vegan-green);
  }
  
  .textarea:focus {
    background-color: rgba(119, 119, 119, 0.5);
  }

  .error {
    color: var(--vegan-green);
  }

  .smalltext {
    font-size: initial;
  }

  .cancel {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: large;
    color: white;
    border-width: 0px;
    border-style: solid white;
  
  }
  
  .cancel:hover {
    background-color: rgba(170, 170, 170, 0.5);
  }