.arrival-select {
    display: grid;
    justify-content: center;
}

button.arrival-button {
    width: 16em;
    border: 1px solid white;
    margin: 0.75em auto;
}

button.arrival-time {
    width: 7rem;
}

button.selected {
    border: 1px solid yellowgreen;
    color: yellowgreen;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
}

.arrival-text {
    font-size: 1.4rem;
}

.cancel-submit-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrival-times {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}