@import '../common/colours.scss';

.horizontal-bar {
    width: 80vw;
    border-top: 1px solid white;
    margin: 2em auto;
}

.large-info {
    font-weight: lighter;
    font-size: calc(8px + 2vmax);
}

.med-info {
  font-weight: lighter;
  font-size: calc(10px + 1vmax);
}

.col-info {
    display: grid;
}

.sub-home {
    padding-bottom: 0.5em;
}

.info-edit {
    padding: 0.5em;
    border-radius: 10px;
    margin: auto;
}

.info-edit:hover {
    color: $appgreen;
}

.selected-arrival {
    padding: 0.5em;
    padding-bottom: 0.1em;
}

.seedling {
    margin: 0.5em;
    font-size: 3em;
    color: $appgreen;
    transition: 3s;
}

.seedling:hover {
    font-size: 6em;
    transition: 3s;
}

.seedling:active {
    font-size: 6em;
    transition: 3s;
}