// .itinerary {
//     width: 90vw;
//     height: 200vh;
//     margin: auto;
// }

.days-wrapper {
    padding: 1em;
}

.day {
    text-align: left;
}

.days {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: 'system-ui';
}

.day-title {
    text-align: center;
    margin: auto;
    font-weight: 400;
    font-size: 2rem;
}

.date {
}

.calendar {
    border: 1px solid white;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    height: 10vw;
}

.active {
    border: 1px solid greenyellow;
    background-color: rgba(0, 0, 0, 0.6);
}

.activities {
    text-align: left;

    .link {
        color: yellowgreen;
    }   
}

.activity-list {
    padding-inline-start: 1ch;
}

.activity-list::marker {
    font-size: 3rem;
    padding: 1em;
}
