// .itinerary {
//     width: 90vw;
//     height: 200vh;
//     margin: auto;
// }

.days-wrapper {
    padding: 1em;
}

.day {
    text-align: left;
}

.days {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: 'system-ui';
}

.day-title {
    text-align: center;
    margin: auto;
    font-weight: 400;
    font-size: 1.5rem;
}

.date {
}

.calendar {
    border: 1px solid white;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    height: 10vw;
}

.active {
    border: 1px solid greenyellow;
    background-color: rgba(0, 0, 0, 0.6);
}

.activities {
    align-items: center;
    font-family: "system-ui";
    font-size: larger;
    .time {
        font-weight: bold;
        color: yellowgreen;
    }

    .link {
        font-size: 2rem;
        color: white;
        font-family: initial;
    }   
}

.activity-list {
    padding-bottom: 2em;
}

.activity-list::marker {
    all: revert;
    font-size: 3rem;
    margin: 0;
}

.lr-selector {
    width: 40vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    margin: auto;

    .leaf-button {
        width: 5vmin;
        opacity: 0.5;
    }

    .leaf-button:hover {
        opacity: 1;
    }


}