@import '../common/colours.scss';

.menu-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90vw;
}

.courses-wrapper {
  margin: auto;
  width: 90vw;
}

.switches {
  display: flex;
  width: 90vw;
}

.right-switch {
  margin-left: auto;
  order: 2;
}

.choice {
  padding: 0.5em;
  font-family: "system-ui";
}

.choice-slab {
  padding-top: 1em;
  background-image: linear-gradient($black75, $black75, $transparent); 
  border-radius: 10px;
}

.choice-head {
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 0.5em;
}