.menu-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90vw;
}

.courses-wrapper {
  margin: auto;

}

.menu-header {
    text-align: center;
    font-style: italic;
    margin: 3vh;

    h2 {
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
    }
    p {
      font-size: 1.5em;
      margin: 0;
    }
}

.course-options {
    font-weight: bold;
    list-style: none;
}

.option {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.food-description {
    font-style: italic;
}

.food-label {
    display: flex;
    align-items: center;
    font-weight: bold;
    }

.course-table {
    width: 100%;
}

.course-row {
    border: 0px solid rgb(255, 255, 255);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 16fr 2fr;
    align-items: center;
    text-align: left;
    margin: 0.25rem;
    border-radius: 3px;
}

.food-name {
    display: flex;
}

.food-img {
    width: 100%;
}

.form-control {
    margin: 1rem;
}

input[type="radio"] {
    appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    font: inherit;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid white;
    border-radius: 20%;
  }

  input[type="radio"]:checked {
     box-shadow: inset 1em 1em var(--form-control-color);
     border: 2px solid white;
  }

  .right-float {
    margin-left: auto;
    order: 2;
    }

  .choice {
    margin: 1rem;
  }

  .choices {
    font-size: larger;
    text-align: center;
    margin: auto;
  }



  .error {
    color: var(--vegan-green);
  }

  .smalltext {
    font-size: initial;
  }

  .cancel {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: large;
    color: white;
    border-width: 0px;
    border-style: solid white;
  }
  
  .cancel:hover {
    background-color: rgba(170, 170, 170, 0.5);
  }