.scroll-img-outer {
    overflow: hidden;
    position: absolute;
    width: 90vmin;
}

.scroll-img-inner {
    width: 5vw;
    // border: 1px dotted gold;
    // border-radius: 10px;
}

// .scroll-img-inner-active {
//     width: 5vw;
//     border: 2px solid gold;
//     border-radius: 10px;
// }

.animation-panel {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40vh;
    width: 90vmin;
    margin: auto;
    margin-top: 10vh;
    // border: 1px dashed red;
}

.main-header {
    font-style: italic;
    font-size: 3rem;
    font-weight: 400;
    top: 10vh;
}

.timeline-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    width: 100vw;
    overflow: hidden;
    left: calc(50% - 50vw);
    .head {
        font-style: italic;
        font-size: 2.5rem;
        font-weight: 400;
    }
    
    .sub {
        font-size: 1.5rem;
        font-weight: 200;
    }

    .sub2 {
        font-style: italic;
        font-size: 1.1rem;
        font-weight: 100; 
    }
}

.sa-ringR2, .sa-ringR1, .sa-ringL, .sa-scroll {
    filter: drop-shadow(0 0 6px rgb(255, 174, 0));
}

.sa-quill {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.sa-heart {
    filter: drop-shadow(0 0 2px rgb(255, 174, 0));
}
