.scroll-img-outer {
    overflow: hidden;
    position: absolute;
}

.scroll-img-inner {
    width: 5vw;
    position: fixed;
}

.animation-panel {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    height: 60vh;
    margin-top: 10vh;
}

.timeline-text {
    font-family: Georgia, 'Times New Roman', Times, serif;

    .head {
        font-style: italic;
        font-size: 2.5rem;
        font-weight: 400;
    }
    
    .sub {
        font-size: 1.5rem;
        font-weight: 200;
    }

    .sub2 {
        font-style: italic;
        font-size: 1.1rem;
        font-weight: 100; 
    }
}
 



.castle-wrap {
}   

.marker1 {
    position: absolute;
    top: 100vh;
    width: 5vw;
}

.marker2 {
    position: absolute;
    top: 200vh;
    width: 5vw;
}

.sa-ringR2, .sa-ringR1, .sa-ringL {
    filter: drop-shadow(0 0 4px rgb(255, 174, 0));
}

.sa-heart {
    filter: drop-shadow(0 0 2px rgb(255, 174, 0));
}