.scroll-img-outer {
    overflow: hidden;
    position: absolute;
}

.scroll-img-inner {
    width: 5vw;
    position: fixed;
}

.animation-panel {
    position: relative;
    margin-bottom: 80vh;
}
.castle-wrap {
}   