@import '../common/colours.scss';

.seating-wrapper {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.seating-grid {
    display: grid;
    grid-template-columns: repeat(6, 6vw);
    grid-template-rows: repeat(14, 6vw);
}

.seat {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: $black50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0.5em;
}

.active {
    border: 2px solid goldenrod;
    color: goldenrod;
}

.table {
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}

.bride-groom {
    border: 1px solid white;
    background-color: $white50;
}

.seat-title {
    font-size: 1.5em;
}

.occupant {
    font-size: 1em;
    font-weight: 600;
    display: none;
}

.seat:hover {
    border: 0px solid goldenrod;
    background-color: rgba(255, 255, 255, 0.1);
    
    .occupant {
        display: initial;
        position: absolute;
        color: white;
    }

    .seat-title {
        display: none;
    }
}

.seat:active {
    background-color: rgba(255, 255, 255, 0.2);

    .occupant {
        display: initial;
        position: absolute;
        color: white;
    }

    .seat-title {
        display: none;
    }

}

@mixin styling($seatSize) {
    .seating-grid {
        grid-template-columns: repeat(6, $seatSize);
        grid-template-rows: repeat(14, $seatSize);
    }
}

@media only screen and (max-width: 790px) {
    @include styling($seatSize: 15vw);
}
