@import '../common/colours.scss';

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.178);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    border-radius: 2px;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url('/src/assets/leaf-solid.svg');
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(153, 205, 50, 0.493);
  }
   
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider-polski {
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.178);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-polski:before {
    border-radius: 2px;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-polski {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 0px;
  }
  
  input:checked + .slider-polski:before {
    -webkit-transform: translateY(-9px) translateX(12.44px) scaleX(2.3) scaleY(0.63);
    -ms-transform: translateY(-9px) translateX(12.44px) scaleX(2.3) scaleY(0.63);
    transform: translateY(-9px) translateX(13px) scaleX(2.3) scaleY(0.63);
    border-radius: 0px;
  }

  .slider-label {
    margin: 0;
  }