@import '../common/colours.scss';

textarea {
    background-color: rgba(119, 119, 119, 0.35);
    margin: auto;
    margin-bottom: 2rem;
    padding: 0.75em;
    border-width: 0px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    text-align: left;
    height: 2.75rem;
    width: calc(100% - 1.5em)
  }

textarea::placeholder {
    color: $appgreen;
  }
  
textarea:focus {
    background-color: rgba(119, 119, 119, 0.5);
  }

textarea:focus-visible {
    outline: 2px solid $appgreen;
}