.tabLinks {
    color: white;
    font-size: calc(6px + 3vmin);
    font-weight: lighter;
    display: grid;
    grid-auto-flow: column;
    padding: 0 10vw 2rem;
}

.tabLink {
    margin: 0 4vw;
}

.activeLink {
    color: greenyellow;
    text-decoration: underline;
}

.tabLink :hover {
    color: rgba(255, 255, 255, 0.4)
}
