@import './common/colours.scss';

.App {
  text-align: center;
}

.App-logo-login {
  height: 25vh;
  pointer-events: none;
  margin: 10vh;
  filter: drop-shadow(0 0 12px $white50);
}

.App-logo-homepage {
  height: 35vh;
  pointer-events: none;
  margin: 0 0 5vh;
  filter: drop-shadow(0 0 12px $white50);
}

.App-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  min-height: calc( 30vh + 10vw );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-header {
  text-align: center;
  font-style: italic;
  margin: 3vh;

  h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
  }
  p {
    font-size: 1.5em;
    margin: 0;
  }
}
